<% if flash.notice %>
<div><%= flash.notice %></div>
<% end %>

<h1>Developer: <%= @developer.username %></h1>
<h2>Age: <%= @developer.age %></h2>
<h2>Studio: <%= @developer.studio %></h2>
<h2>Experience: <%= @developer.experience %> years</h2>

Games Developed: 
<ul>
    <% @games.select do |game| %>
        <li>
            <%= link_to game.name, game_path(game) %>
        </li>
    <% end %>
</ul>
<br>
<% if session[:developer_id] == @developer.id %>
<div><%= link_to "Add Your New Game", new_game_path %></div>
<% end %>
<br>
<%= link_to "All Developers", developers_path %>
<div><%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %></div>