
<h1>Game Page: <%= @game.name %></h1>

<p>Release Year: <%= @game.year %></p>
<p>Description: <%= @game.description %></p>
<p>Developed by: <%= link_to @developer.username, developer_path(@developer) %></p>


<p> Weighted Average: <%= @game.weighted_review.round(2) %></p>

<ul>
    <% @game.reviews.each do |review| %>
        <% if review.user.critic %>
        <li>
          <strong><%= link_to review.title, review_path(review) %></strong>  <%= review.rating %>/10, by <%= review.user.username %> at <%= review.created_at %> <strong> -- ⭐️Critic Review ⭐️</strong> 
        </li>
        <% else %>
        <li>
        <strong><%= link_to review.title, review_path(review) %></strong>  <%= review.rating %>/10, by <%= review.user.username %> at <%= review.created_at %>
        </li>
        <% end %>
    <% end %>
</ul>

<% if session[:user_id] %>
<%= button_to "New Review", new_review_path, method: :get %><br>
<% end %>

<%= button_to "All Games", games_path, method: :get %>

