<h1>Game Page: <%= @game.name %></h1>
<p>Release Year: <%= @game.year %></p>
<p>Description: <%= @game.description %></p>
<p>Developed by: <%= link_to @developer.username, developer_path(@developer) %></p>

<% review_scores = [] %>
<% critic_review_scores = [] %>

    <% @game.reviews.each do |review| %>
        <% if review.user.critic %>
    <% critic_review_scores << review.rating.to_f %>
        <% else %>
        <% review_scores << review.rating.to_f %> 
        <% end %>
    <% end %>


    <% if critic_review_scores.count == 0 && review_scores.count == 0 %>
       Overall Rating: 0.round(2)
    <% end %>
    <% if critic_review_scores.count == 0 %>
       Overall Rating: <%= ((review_scores.sum)/(review_scores.count)).round(2) %>/10
    <% end %>
    <% if review_scores.count == 0 %>
       Overall Rating: <%= ((critic_review_scores.sum)/(critic_review_scores.count)).round(2) %>/10
    <% end %>
    <% if critic_review_scores.count != 0 && review_scores.count != 0 %>
        Overall Rating: <%= ((((critic_review_scores.sum)/(critic_review_scores.count))*0.65).round(2) + (((review_scores.sum)/(review_scores.count))*0.35).round(2)).round(2) %>/10
    <% end %>

<ul>
    <% @game.reviews.each do |review| %>
        <% if review.user.critic %>
        <li>
          <strong><%= link_to review.title, review_path(review) %></strong>  <%= review.rating %>/10, by <%= review.user.username %> at <%= review.created_at %> <strong> -- ⭐️Critic Review ⭐️</strong> 
        </li>
        <% else %>
        <li>
        <strong><%= link_to review.title, review_path(review) %></strong>  <%= review.rating %>/10, by <%= review.user.username %> at <%= review.created_at %>
        </li>
        <% end %>
    <% end %>
</ul>


<%= link_to "All Games", games_path %>