<h1>Edit Your Review for <%= @review.game.name %></h1> 
<h3>You May Edit the Title, Content, and Rating</h3>
<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
<p><%= error %></p>
<% end %>
<% end %>

<%= form_for @review do |f| %>
<p><%= f.label "Rating:" %>
<%= f.number_field :rating %></p>
<p><%= f.label "Review Title:" %>
<%= f.text_field :title %></p>
<p><%= f.label "Content:" %>
<%= f.text_area :content %></p>
<%= f.submit %>
<% end %>
<br>
<%= link_to "Cancel Edit", review_path(@review) %>
<br>
<br>
<br>
<br>

<p><%= button_to "DELETE REVIEW", review_path(@review), method: :delete, data: { confirm: "Are you sure?" } %></p>
